{% extends "base.html" %}

{% block content %}

{% load django_bootstrap5 %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">Editar entrada</h1>
            
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-success">Guardar cambios</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
